<div class="gradient">
  <h1>
    <%=h article.title %>
  </h1>
  <p>
    <b>Created at <%=h article.created_at %> by user</b>
  </p>
  
  <%= article.content %>

  <%
  if article.created_at != article.updated_at
  %>
    <p>
      <b>Last update on:</b>
      <%=h article.updated_at %>
    </p>
  <%
  end
%>

  <p>
    <%= link_to 'Edit', edit_article_path(article) %> |
    <%= link_to 'Back', articles_path %>
  </p>
</div>